.recipe-lists {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  .recipe-lists-content {
    background: #ccc;
    padding: 10px;
  }
}

img {
  display: block;
  width: 150px;
  max-width: 100%;
  object-fit: contain;
}
