<div
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="20px"
  fxLayout.md="column"
  fxLayout.xs="column"
>
  <div fxFlex="4 1 0">
    <app-recipes-list
      (selectedRecipes)="showDetails($event)"
    ></app-recipes-list>
  </div>
  <div fxFlex="8 1 0">
    <app-recipes-details
      *ngIf="detailStorage; else noContent"
      [fromRecipes]="detailStorage"
    ></app-recipes-details>
    <ng-template #noContent>
      <p>Please click view details to shown content</p>
    </ng-template>
  </div>
</div>
